html{
  scroll-behavior: smooth;
}

*{
 word-wrap: break-word;
}

body {
   font-family: Arial, sans-serif;
   text-align: center;
 background-image: url("/dictionary/icon.png");
 background-color: #76ABAE;
}

header {
   background-color: #333;
   color: white;
   padding: 10px 0;
  border-radius: 10px;
}

nav {
   background-color: #444;
   padding: 10px 0;
 border-radius: 10px;
}

nav a {
 color: #fff;
 text-decoration: none;
 padding: 0 15px;
}

input[type="text"] {
 font-size: 23px;
   width: 60%;
   padding: 10px;
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}



.scrollbar {
 height: 500px;
 overflow: auto;
 padding: 10px;
max-width: 800px;
margin: 20px auto;
background-color: #f4f4f4;
text-align: justify;
 font-size: 20px;
 border-radius: 5px;

}

.explorewords{
font-size: 23px;
text-align: center;
 color: white;
}

.letters {
   background-color: #444;
   padding: 10px 0;
 border-radius: 10px;
   color: white;
   font-size: 20px;
   text-decoration: none;
}

div a {
    text-decoration: none;
   color: #fff;
}

#logo{
width: 40px;
height: 40px;
}

#buttonsearch{
 border-radius: 10px;
 width: 60px;
 padding: 10px;
}

.highlight{
 background-color: #333;
 color: white;
 size:30px;
 font-size: 23px;
 border-radius: 10px;
}


#hidescrollbar{
  display: none;
}

